*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

body, html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
  font-size: 15px;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, li {
  display: block;
  padding: 0px;
  margin: 0px;
}

textarea {
  resize: none;
}

p {
  font-size: 16px;
}

img {
  border-style: none;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoratio {
  display: none;
}

[hidden] {
  display: none;
}

p, nav {
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
  text-decoration: none;
  outline: none;
  /*  -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;*/
}

input {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  background: #18212b;
}

.wrapper {
  width: 1210px;
  padding: 0 20px;
  margin: 200px auto;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 380px;
  width: 100%;
}

.slider-item {
  width: 520px;
  height: 380px;
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.55, 0.09, 0.68, 0.53) 0.3s;
  transition: all cubic-bezier(0.55, 0.09, 0.68, 0.53) 0.3s;
  background: #18212b;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.slider-item-image {
  width: 100%;
  height: 100%;
}

.slider-item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.slider-item-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.slider-item__title {
  font-family: 'Roboto Medium';
  font-size: 20px;
  color: #fff;
  margin-bottom: 8px;
}

.slider-item__descr {
  font-family: 'Roboto Regular';
  font-size: 16px;
  color: #fff;
}

.slider-item.next, .slider-item.prev, .slider-item.next-next, .slider-item.prev-prev, .slider-item.current {
  opacity: 1;
}

.slider-item.show {
  opacity: 0;
  position: relative;
}

.slider-item-opacity {
  width: 100%;
  height: 100%;
}

.slider-item.prev-prev {
  -webkit-transform: translateX(-400px) scale(0.7);
          transform: translateX(-400px) scale(0.7);
  z-index: 8;
}

.slider-item.prev-prev .slider-item-opacity {
  opacity: 0.45;
}

.slider-item.prev {
  -webkit-transform: translateX(-200px) scale(0.85);
          transform: translateX(-200px) scale(0.85);
  z-index: 9;
}

.slider-item.prev .slider-item-opacity {
  opacity: 0.75;
}

.slider-item.current {
  z-index: 10;
}

.slider-item.current .slider-item-opacity {
  opacity: 1;
}

.slider-item.next {
  -webkit-transform: translateX(200px) scale(0.85);
          transform: translateX(200px) scale(0.85);
  z-index: 9;
}

.slider-item.next .slider-item-opacity {
  opacity: 0.75;
}

.slider-item.next-next {
  -webkit-transform: translateX(400px) scale(0.7);
          transform: translateX(400px) scale(0.7);
  z-index: 8;
}

.slider-item.next-next .slider-item-opacity {
  opacity: 0.45;
}

.slider-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.slider-panel button {
  margin: 0 15px;
  font-family: 'Roboto Medium';
  font-size: 16px;
}
/*# sourceMappingURL=slider.css.map */